
#Do not include build results
*.elf
*.bin
*.disasm
vm/

#Neither any intermediate results
*.elf*

#Neither any logs
*.log

#I edit files with nano time to time
*.swp

#useless
.vscode/

#In case bochs crashes and leaves .lock file behind
*.lock
